* {
  box-sizing: border-box;
}
  
 body {
 	font-family: arial;
 }
a {
  text-decoration: none;
}
 
.clear {
  clear: left;
}
  div {
  margin: 0;
  padding: 0;
}

.header {
	background-color: rgba(114, 91, 59, 0.8);
  color: #f75d09;
  height: 80px;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  z-index:10;
}

.love-icon {
	height: 80px;
  width: 80px;
  float: left;
}
  
  
.boba-icon {
	height: 60px;
  width: 60px;
  float: right;
  padding: 10px;
}

.header-logo {
  padding: 20px 20px;
  font-size: 36px;
  float: left;
  letter-spacing:5px;
  color:#ffdac8;
}

.header-list li {
  margin: 15px 30px;
  font-size: 20px;
  float: left;
  list-style: none;
  letter-spacing: 1px;
  font-family: "Courier New";
  background-color: rgba(232, 179, 117, 0.5);
  display: block;
  border: 2px solid #ffdac8;
  text-align: center;
  transition: all 0.5s;
}
 
.header-list:hover {
  opacity: 1;
  color: red;
}
  
.main {
	margin-top: 180px;
  margin-bottom:40px;
  margin-right:80px;
  margin-left:80px;
  text-align: justify;
  line-height:1.5
}
  
.title h1 {
	text-align:center;
  font-weight:normal;
  border-bottom:3px solid #DBDBDB;
  font-size:25px
}
  
.heading h2 {
	text-align:center;
  font-weight:normal;
  border-bottom:3px solid #DBDBDB;
  margin-top:50px
}
  
.btn-boba {
	padding:12px 24px;
  display:inline-block;
  opacity:0.8;
  background-color:#d2a691;
  color:white;
  border-radius:4px;
  cursor:pointer;
  box-shadow:0 7px #b08774;
  font-size:10px
}
  
.btn-boba:active {
  box-shadow:none;
  position:relative;
  top:7px;
}

.btn-boba:hover {
	opacity:1
}
  
.menu {
	float:left;
  width:25%
}
  
.menu-wrapper {
	text-align:center;
}  
.menu-icon {
	position:relative;
}

.menu-icon p {
  position:absolute;
  top:70px;
  width:100%;
  color:white;
  text-align:center;
  font-size:15px;
}

.menu-icon img {
	width: 60%;
  height:30%
}
  .content h2 {
  	font-family: "Playfair Display", Arial;
  }
  
.content {
  float: left;
  width: 33%;
}

.content-image {
  position: relative;
}

.content-image p {
  position: absolute;
  top: 90px;
  width: 100%;
}

.txt-contents {
  width: 80%;
  display: inline-block;
  margin-top: 20px;
  font-size: 15px;
  color: #c25b3b;
}
  
.footer {
	height:100px;
  width:100%;
  background-color:#ffdac8;
  bottom:0;
  left:0;
  right:0;
}

.container h1 {
	font-family: "Abril Fatface",Arial;
}

.footer-logo b {
  font-size: 15px;
  float: left;
  letter-spacing:1px;
  color:#c25b3b;
}

.footer-logo {
	float:left;
  padding:right:50px;
}
  
.footer-list{
	float:right;
  color:#c25b3b;
  margin-bottom:50px
}

.footer-list p {
 font-size: 22px;
 color:#c25b3b;
}
.footer-list li {
	list-style:none;
  font-size:15px;
}
  
.social-media {
	margin:0 auto;
  padding: 20px 0;
}
.social-media p {
	color:#c25b3b;
  
}
  
.btn {
	width: 34px;
  height: 34px;
  border-radius: 100px;
  line-height: 34px;
  color: #fff;
  display:inline-block;
  opacity: 0.7;
  font-size:30px;
}

.btn:hover {
	opacity:1;
}

.facebook {
	background-color:#3b5998;
}

.twitter {
 background-color: #55acee;
}
  
.youtube {
	background-color: red;
}

.instagram {
	background-color: #c13854;
}

.@media (max-width: 1000px) {
	.item {
  width:50%;
  margin-bottom:50px;
  }
  .flex-list {
    flex-wrap: wrap;
  }
  .flex-list li {
    width: 50%;
  }
} 
  
@media (max-width: 670px) {
	.item {
  width:25%;
  }
  .lesson {
    width:100%;
  }
  .footer {
  	text-align:center;
  }
  .btn {
  	width:100%;
  }
  }
